DISCORD_TOKEN=your_token_here
STAFF_ROLE_ID=your_actual_staff_role_id_here
TEAM_OWNER_ROLE_ID=your_team_owner_role_id_here
MC_SERVER_IP=play.yourserver.net
STAFF_ALERT_CHANNEL_ID=123456789012345678
